<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUnitTests-MSTest" version="1.0.1" targetFramework="net40" />
  <package id="Effort" version="1.0.0-beta5" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net45" />
  <package id="NMemory" version="1.0.0-beta9" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
</packages>