<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data source=localhost\SQLEXPRESS;initial catalog=wex;persist security info=True; Integrated Security=True; MultipleActiveResultSets=True" />
	<add name="TotvsWexEntities" connectionString="metadata=res://*/Contexto.DbFirst.TotvsWex.csdl|res://*/Contexto.DbFirst.TotvsWex.ssdl|res://*/Contexto.DbFirst.TotvsWex.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=Totvs_Wex;integrated security=True;persist security info=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
