<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net value="DEBUG">
    
    <!--Configurações do appender para log em arquivo -->
    <appender name="LogEmArquivo" type="log4net.Appender.RollingFileAppender">
      <param name="Threshold" value="ALL" />
      <file type="log4net.Util.PatternString" value="Logs\Cronograma\%date{yyyy} \%date{MMMM}\" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <PreserveLogFileNameExtension value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="'Dia_'dd_MM_yyyy'.log'"/>
      <maxSizeRollBackups value="32" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n%newline"/>
      </layout>
    </appender>
    <!-- Fim configurações de log em arquivo -->
    
    <!-- Configurações do appender para log no Console de Output -->
    <appender name="LogEmConsole" type="log4net.Appender.ConsoleAppender">
      <param name="Threshold" value="ALL" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%newline %date{dd/MM/yyyy 'as:' HH:mm:ss} - Thread:[%thread] - Level:%-5level%newline Arquivo: (%file);%newline Mensagem:'%message' %newline"/>
      </layout>
    </appender>
    <!-- Fim configurações de log no console de output -->
    
    <!-- Configuração dos tipos de log (Default).-->
    <root>
      <level value="ALL" />
      <!-- Adicionar appenders que executarão por Default-->
      <!--<appender-ref ref="LogEmConsole"/>-->
      <!--<appender-ref ref="LogEmArquivo"/>-->
    </root>
    <!-- fim-->

    <!-- Configuração de logger tipado Cronograma -->
    <logger name="Cronograma" >
      <level value="ALL"/>
      <!-- Adicionar appenders que executarão quando o o logger for tipado como Cronograma -->
      <appender-ref ref="LogEmArquivo"/>
      <appender-ref ref="LogEmConsole"/>
    </logger>
    <!-- Fim configuração cronograma -->
    
  </log4net>
</configuration>