<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net value="DEBUG">
    
    <!-- Configurações do appender que cria arquivos de log de erros. Level: ERROR/FATAL -->
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="ALL" />
      <file type="log4net.Util.PatternString" value="Logs\Schedule.Win\Erros\%date{yyyy} \%date{MM}\" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <PreserveLogFileNameExtension value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="'ScheduleWin_Erro_'yyyyMMdd'.log'"/>
      <maxSizeRollBackups value="32" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n%newline"/>
      </layout>
    </appender>
    <!-- Fim ErrorFileAppender -->

    <!-- Configurações do appender que criar arquivos de log de informações simples DEBUG/INFO/WARN -->
    <appender name="InformationFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="All" />
      <file type="log4net.Util.PatternString" value="Logs\Schedule.Win\Infos\%date{yyyy} \%date{MM}\" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <PreserveLogFileNameExtension value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="WARN" />
      </filter>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="'ScheduleWin_Info_'yyyyMMdd'.log'"/>
      <maxSizeRollBackups value="32" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n%newline"/>
      </layout>
    </appender>
    <!-- Fim InformationFileAppender -->

    <!-- Configurações do logger no Console Output da aplicação -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <param name="Threshold" value="ALL" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%newline %date{dd/MM/yyyy 'as:' HH:mm:ss} - Thread:[%thread] - Level:%-5level%newline Arquivo: (%file);%newline Mensagem:'%message' %newline"/>
      </layout>
    </appender>
    <!-- Fim ConsoleAppender -->

    <!-- Configurações Habilitados em um logger Default Log4net -->
    <root>
      <!--<level value="ALL" />
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>-->
    </root>
    
    <!-- Configuração do logger costumizado "ScheduleWin" informando os appenders utilizados pelo logger -->
    <logger name="ScheduleWin" >
      <level value="ALL"/>
      <appender-ref ref="InformationFileAppender"/>
      <appender-ref ref="ErrorFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <!-- Fim logger costumizado-->
  </log4net>
</configuration>