<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data source=localhost\SQLEXPRESS;initial catalog=wex;persist security info=True; Integrated Security=True; MultipleActiveResultSets=True" />
   <!-- <add name="ConnectionString" connectionString="Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=wex;User ID=wexuser;Password=fpf@1212;Network Library=dbmssocn" providerName="System.Data.SqlClient"/> -->
    <add name="TotvsWexEntities" providerName="System.Data.EntityClient" connectionString="metadata=res://*/Contexto.DbFirst.TotvsWex.csdl|res://*/Contexto.DbFirst.TotvsWex.ssdl|res://*/Contexto.DbFirst.TotvsWex.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=Totvs_Wex;integrated security=True;persist security info=True;multipleactiveresultsets=True;App=EntityFramework&quot;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>