<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="Modules" value="" />
    <!--<add key="NewVersionServer" value="" />-->
    <!--Este é o caminho da rede para atualização automática do Wex nos demais computadores-->
    <!--<add key="NewVersionServer" value="\\10.0.9.12\WexProject" />-->
    <!--Este é o caminho da rede para atualização automática do Wex na rede da SAMSUNG nos demais computadores-->
    <!--<add key="NewVersionServer" value="\\10.0.5.126\sam-wex" />-->
    <!--Este é o caminho da rede para atualização automática do Wex na rede de teste do cronograma-->
    <!--<add key="NewVersionServer" value="\\10.0.0.245\Wex" />-->
    <add key="EnableDiagnosticActions" value="False" />
    <add key="Languages" value="pt-BR" />
    <add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder" />
    <!-- Este é o caminho do serviço para a versão padrão do Wex -->
    <!--<add key="WebServicePath" value="http://wex.fpf.br:32859/Services/"/>-->
    <!-- Este é o caminho do serviço para a versão do Wex para a SAMSUNG-->
    <!--<add key="WebServicePath" value="http://sam-ic-server:803/WexService/Services/"/>-->
    <add key="WebServicePath" value="http://localhost:2034/Services/" />
    <add key="RestWebServicePath" value="http://localhost:3707" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Nome do Servidor que está armazenando o serviço de comunicação (WexMultiAcessManager) -->
    <add key="NomeServidor" value="wex-srv" />
    <add key="PortaServidor" value="9047" />
  </appSettings>
  <connectionStrings>
    <!-- Este é a conexão com o banco do Wex Padrão -->
    <!--<add name="ConnectionString" connectionString="Pooling=false;Data Source=SQL-SRV;Initial Catalog=WexProject_Producao;User ID=wexuser;Password=wex;Network Library=dbmssocn" providerName="System.Data.SqlClient"/>-->
    <!-- Este é a conexão com o banco do Wex SAMSUNG -->
    <!--<add name="ConnectionString" connectionString="Pooling=false;Data Source=10.0.5.126;Initial Catalog=WexProject_Producao;User ID=wexuser;Password=wex;Network Library=dbmssocn"/>-->
    <add name="ConnectionString" connectionString="Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=wex;Integrated Security=true" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=WexProjectDataBase;" />-->
    <!-- Este é a conexão com o banco do Wex Local - Desenvolvimento -->
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=lab1-andersonli\SQLEXPRESS;Initial Catalog=WexProjectDataBase;User ID=wexuser;Password=fpf@1212" />-->
    <!-- Este é a conexão com o banco do Wex com servidor de Teste -->
    <!--<add name="ConnectionString" connectionString="Pooling=false;Data Source=WEX-TST;Initial Catalog=WexProject_Producao;User ID=sa;Password=fpf@1212;Network Library=dbmssocn"/>-->
    <!--
		Use the following connection string to connect to a Jet (Microsoft Access) database:
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=eFi.mdb;Mode=Share Deny None;"/>
		-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IControleAcessoService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IControleAcessoService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2034/Services/ControleAcessoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IControleAcessoService1"
        contract="ControleAcessoService.IControleAcessoService" name="BasicHttpBinding_IControleAcessoService1" />
      <endpoint address="http://localhost:2034/Services/ControleAcessoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IControleAcessoService"
        contract="ControleAcessoService.IControleAcessoService" name="BasicHttpBinding_IControleAcessoService" />
    </client>
  </system.serviceModel>
</configuration>